extends layout.pug
block content
    script(type='text/javascript').
        $(() => {

            // hack to get elements into graph (look at src code to see)
            const elements = JSON.parse('!{JSON.stringify(elements)}')

            var cy = cytoscape({
                container: $('#cy'), // container to render in

                elements: elements,

                style: [ // the stylesheet for the graph
                    {
                        selector: 'node',
                        style: {
                            'background-color': '#666',
                            'label': 'data(name)'
                        }
                    },

                    {
                        selector: 'edge',
                        style: {
                            'width': 3,
                            'line-color': '#ccc',
                            'target-arrow-color': '#ccc',
                            'target-arrow-shape': 'triangle'
                        }
                    }
                ],

                layout: {
                    name: 'grid',
                    rows:2
                }

            });
        })

    h1 Cytoscape Demo
    div#cy